[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:hlissner/doom-emacs.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "/home/ckrieger/.asdf"]
	path = /home/ckrieger/.asdf
	url = https://github.com/asdf-vm/asdf.git
