[user]
    name = Caspar Krieger
    email = git@asparck.com
[color]
    branch = auto
    diff = auto
    status = auto
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    # features = side-by-side line-numbers decorations
    features = line-numbers
    syntax-theme = Solarized Dark
    commit-decoration-style = bold yellow box ul
    file-decoration-style = yellow ol
    file-style = bold yellow ul
    hunk-header-style = file line-number syntax
    hunk-header-decoration-style = none
    whitespace-error-style = 22 reverse
[alias]
    a = add -p
    g = log --graph --oneline --format=format:'%C(bold blue)%h%C(reset)%C(auto)%d%C(reset) %C(white)%s%C(reset) (%an, %ar)'
    co = checkout
    cv = commit -v
    cva = commit -v --amend
    r = reset
    pu = push -u origin HEAD
    puf = push -u origin HEAD --force-with-lease
    msg = log --no-merges --reverse master..HEAD --format=%B
[push]
    default = upstream
[core]
    excludesfile = /home/caspar/.gitignore_global
[pull]
    rebase = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
