# home directory repo
# ignore everything by default
# we'll add the things we care about with `git add -f`
*

# for some directories, we know we want to track everything
# sadly they have to be unignored (at least) twice: https://stackoverflow.com/a/5285539/775982
# nested dirs also need to have their parent directories unignored
!/.config/
!/.config/fish/
!/.config/fish/**
!/.config/nixpkgs/
!/.config/nixpkgs/**
!/.doom.d/
!/.doom.d/**
!/dotmore/
!/dotmore/**
