# home directory repo
# ignore everything by default
# we'll add the things we care about with `git add -f`
*

# for some directories, we know we want to track everything
# sadly they have to be unignored (at least) twice: https://stackoverflow.com/a/5285539/775982
# nested dirs also need to have their parent directories unignored
!/.asdf
!/.asdf/**
!/.config/
!/.config/fish/
!/.config/fish/**
!/.config/nixpkgs/
!/.config/nixpkgs/**
!/.config/nvim/
!/.config/nvim/**
!/.doom.d/
!/.doom.d/**
!/.tmux/
!/.tmux/plugins
!/.tmux/plugins/tpm/
!/.tmux/plugins/tpm/**
!/dotmore/
!/dotmore/**

# and include some files too
!/.asdfrc
!/.bashrc
!/.inputrc
!/.sdkman
!/.sdkman/etc
!/.sdkman/etc/config
!/.toolversions
!/.zshrc
